.brandName {
    color: palegoldenrod;
    font-size: x-large;
    text-align: auto;
    padding-left: 7px;

}

.navLinks {
    color: paleturquoise;
    text-decoration: none;
    text-align: right;
    padding: 7px
}