.head {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* position: relative; */
  /* background-size: cover; */
  min-height: 100px;
}

.title {
  font-size: 72px;
  font-weight: 400;
  font-family: "Roboto";
  line-height: 110px;
  color: #000000;
  margin-right: 5%;
  position: absolute;
  right: 0;
}

.header {
  display: flex;
  gap: 340px;
  padding: 1px 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.overlay {
  width: 100%;
}
