.welcomeMessage {
    display: flex;
    justify-content: center;
    font-size: larger;
}

.infoStack {
    display: flex;
    justify-content: center;
}

.accountLabels {
    text-align: left;
}
.accountInfo {
    text-align: right;
}