.welcomeMessage {
    display: flex;
    justify-content: center;
    font-size: larger;
}

.infoStack {
    display: flex;
    justify-content: space-evenly;

}

.buttonDiv {
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.accountLabels {
    color: white;
    font-size: 36px;
    font-family: 'Roboto';
    text-align: left;
    padding: 5% 0% 0% 5%;
}

.formField {
    height: 49px;
    width: 25%;
    margin: 5% 5% 0% 0%;
    background-color: white;
  }


.accountInfo {
    color: white;
    font-size: 28px;
    font-family: 'Roboto';
    text-align: right;
    padding: 5% 5% 0% 0%;
}

.background {
    background: #287271;
    display: flex;
    gap: 10px;
    padding: 0px;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
}

.buttonBorder {
    margin: auto;
    border-radius: 42.5px;
    height: 85px;
    width: fit-content;
    min-width: 25%;
    background-color: #e9c46a;
    margin-top: 10%;
  }
  .buttonText {
    text-align: center;
    vertical-align: top;
    font-size: 28px;
    font-family: Roboto;
    line-height: auto;
    color: #000000;
    text-decoration: none;
    
  }