.span-1 {
  font-size: 24px;
  font-weight: 400;
  font-family: "Roboto";
  line-height: 28px;
}

.div-1 {
  background: #f4a261;
  display: flex;
  gap: 48px;
  padding: 19px 6px;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}
