.user-sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.background-rectangle {
  background: #287271;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}
.question-bar {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
}
.form-field {
  margin: auto;
  height: 49px;
  width: 50%;
  background-color: #31dec9;
}
.form-field-trueorfalse {
  margin: auto;
  height: 49px;
  width: 5%;
  background-color: #31dec9;
}
.question-title {
  text-align: center;
  vertical-align: top;
  font-size: 36px;
  font-family: Roboto;
  line-height: auto;
  color: #ffffff;
}
.button1 {
  display: flex;
  font-size: 24px;
  font-weight: 400;
  font-family: "Roboto";
  line-height: 33spx;
  justify-content: center;
}

.div1 {
  border-radius: 42px;
  background: #e9c46a;
  padding: 9px 4px;
  width: 150px;
  height: 50px;
}
